{% block topbar %}
    <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
        <!-- Topbar Navbar -->
        <ul class="navbar-nav ml-auto">

            {% include 'dashboard/common/topbar/elements/messages.html.twig' %}

            <div class="topbar-divider d-none d-sm-block"></div>

            {% include 'dashboard/common/topbar/elements/profil.html.twig' %}
        </ul>
    </nav>
{% endblock %}